


.project-link {
    display: inline-flex;
    margin-bottom: 2.25rem;
    filter: grayscale(100%);
    z-index: 0;
    width: 80vw;
    max-width: 450px;
    position: relative;
    flex-wrap: wrap;
}

.project-image {
    display: inline-table;
}
.project-image img {
    width: 80vw;
    max-width: 300px;
    border-radius: 10px;
}

.project-link .project-wrapper:hover {
    filter:  none;
    transition: 250ms filter;
}

.project-info {
    display: inline-table;
    padding-left: 10px;
    text-align: right;
}

@media (min-width: 768px) {
    .project-link{
        flex-wrap: nowrap;
    }
}