

#project-component {
    margin-top: 10vh;
    display: grid;
    min-height: 100vh;
    background: white;
    grid-template-rows: 100px 1fr;
    z-index: 1;
}


.projects .container {
    text-align:  center;
}

.projects {
    display: inline-block;
    text-align: center;
}


