
#about {
    display: grid;
    min-height: 100vh;
    min-width :100vw;
    background-color: #869494;
    position: sticky;
    z-index: 3;
    align-content: center;
}

.about-container {
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text-box {
    max-width: 550px;
    padding-right: 4rem;
    padding-left: 1rem;
}

#profile-pic {
    width: 300px;
    height: auto;
    padding-left: 60px;
    text-align: center;
    margin-right: 5rem;
}

#about a{
    color: black;
    text-decoration: underline;
}

#about a:hover{
    font-style: italic;
}
.grid {
    display: grid;
}

#about .grid a{
    text-decoration: none;
}