#project-page {
    display: grid;
    padding-top: 10vh;
    max-width: 50rem;
    margin: 0 10vw;
    justify-self: center;
}
#project-heading{
    display: flex;
    flex-wrap: wrap;
}
#project-heading {
    display: inline-block;
    margin: 1rem 0;
}

#project-heading p {
    margin: 0.5rem 0;
}

#project-page h1 {
    color: black;
}

#project-heading {
    display: flex;
    align-items: center;
}
.project-description {
    display: inline-block;

}

.project-about {
    display: inline-block;
    margin-right: 3rem;
}

@media (min-width: 925px) {
    .project-about {
        display: inline-block;
        margin-right: 3rem;
        max-width: 12rem;
    }

    .project-description {
        max-width: 500px;

    }
}