.toolbar {
    position: fixed;
    height: 100vh;
    z-index: 200;
    right:0;
}

.toolbar-nav{
    display: flex;
    height: 100%;
    align-items: center;
    justify-items: start;
}
.toolbar-logo {
    margin: 0.5rem;
    margin-left: 1rem;
}
.toolbar-logo a {
    color: black;
    text-decoration: none;
    font-size:1.5rem;
}
#toggle-button {
    padding : 15px;
    align-self: start;
    transition: 2s;
}

.toolbar-nav-items {
    justify-items: start;
    margin-right: 5em;
    transition: 500ms;
}
.toolbar-nav-items ul {
    list-style: none;
    padding-left: 0;
    padding-right: 15px;
}
.toolbar-nav-items a{
    color: black;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.toolbar-nav-items a:hover,
.toolbar-nav-items a:active {
}

li {
    padding-bottom: 2em;
}