#default-landing-block {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10vw;
}

.default-landing-block {
    display: flex;
    justify-content: center;
    align-items: center;
}


#default-landing-block h1 {
    font-family: 'Slabo 13px', serif;
    max-width: 430px;
}

#default-landing-block h3 {
    font-family: 'Slabo 13px', serif;
}

#default-landing-block h5 {
    font-family: 'Asap', sans-serif;
}


#default-landing-block h6:hover {
    font-family: 'Slabo 13px', serif;
    transition: 0.5s;
    font-style: italic;
}

#default-landing-block .me {
    height : 23rem;
    margin-left : 1rem;
    display: none;
}

@media (min-width: 834px) {
    #default-landing-block .me {
        display: block;
    }
}