
.about-contact {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: space-around;

}
.about-cloud {
    position: absolute;
}

.about-heading {
    font-size: 48px;
}

#about {
    padding-top: 5em;
}
.aboutImg {
    max-width: 400px;
    height: auto;
}

.about{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.description-about{
    align-self: flex-start;
    padding: 20px;
    text-align: center;
}

p {
    width: 100vw;
    max-width: 400px;
    flex-wrap: wrap;
}
#resume-link{
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
    display: flex;
    justify-content: center;
}

.about-button {
    margin: 0;
    text-align: center;
}

#contact {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.contact-h {
    padding-left: 30px;
    padding-right: 60px;
}
.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a .icon{
    text-decoration: none;
    color: black;
}

.icon img {
    margin-left: 20px;
    margin-right: 10px;
    width: 46px;
    text-decoration: none;
    color: black;
}