.project-component {
    padding-bottom: 5vh;
}
.project-link .project-wrapper{
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    filter: grayscale(100%);
    z-index: 0;
    justify-content: flex-end;
    align-content: stretch;
}

.project-link .project-wrapper {
    display: grid;
    place-self: center;
}
.project-image img {
    width: 80vw;
    max-width: 285px;
    border-radius: 10px;
}

.project-link .project-wrapper:hover {
    filter:  none;
    transition: 250ms filter;
}

.project-info {

    padding-left: 10px;
    text-align: right;
}

