.toolbar {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    height: 45px;
    z-index: 200;
}

.toolbar-nav{
    display: flex;
    height: 100%;
    align-items: center;
}
.toolbar-logo {
    margin: 0.5rem;
    margin-left: 1rem;
}
.toolbar-logo a {
    color: white;
    text-decoration: none;
    font-size:1.5rem;
}
.spacer {
    flex: 0.9;
}
.toolbar-nav-items ul {
    list-style: none;
    display: flex;
    justify-self: flex-end;
}
.toolbar-nav-items a{
    color: black;
    text-decoration: none;
}

.toolbar-nav-items a:hover,
.toolbar-nav-items a:active {
    color: orange;
}