#PomodoroProject {
    background-color: #df8786;
    min-height: 100vh;
    width: 100vw;
}

#PomodoroProject h2, #PomodoroProject p {
    color: white;
}

#PomodoroProject h2 {
    display: inline-block;
}

.project-content {
    display: flex;
    flex-direction: column;
    padding: 3em;
    justify-content: center;
}
.text-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#PomodoroProject p {
    width: 100%;
    padding-left: 2em;
    padding-bottom: 2em;
}

.futureplans, .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
}