.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

#root {
  width: 100vw;
  overflow: hidden;
}

#main{
  background: linear-gradient(180deg, #EBFBFF 0%, #FFE2E2 51.04%, #EBFBFF 98.96%);
}

h1 {
  font-family: 'Slabo 27px', sans-serif;
  font-size: 50px;
  color: black;
}

h2 {
  font-family: 'Slabo 27px', sans-serif;
  font-size: 36px;
  color: black;
  z-index: 10;
}

h3 {
  font-size: 18px;
  color: black;
}

h4 {
  font-size: 14px;
  color: black;
}

p {
  font-size: 16px;
  color: black;
}
/* navigation */
.nav {
  z-index: 300;
  margin: 0;
  position: fixed;
  justify-self: right;
}
.navbar {
  position: fixed;
  width: 100%;
}

.navbar-toggler {
  border: none;
}
.nav-link{
}
.nav-time {
  display: flex;
  justify-content: flex-end;
}

/*landing*/


/*projects*/

/*about/contact */
/*@media only screen and (min-width: 1301px){*/
/*  h1{*/
/*    font-size: 144px;*/
/*    font-family: 'Muli', sans-serif;*/
/*  }*/

/*}*/

/*@media (min-width: 769px) {*/
/*  #root {*/
/*  }*/
/*  .button {*/
/*    font-size: 25px;*/
/*  }*/

/*  h2 {*/
/*    font-size: 72px;*/
/*  }*/

/*}*/

/* IMPORTANT DO NOT DELETE */
@media (max-width: 767px) {
  .toolbar-nav-items {
    display: none;
  }



}
