.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

#root {
  width: 100vw;
}


h1 {
  font-family: 'Slabo 27px', sans-serif;
  font-size: 50px;
  color: black;
}

h2 {
  font-family: 'Slabo 27px', sans-serif;
  font-size: 36px;
  color: black;
  z-index: 10;
}

h3 {
  font-size: 18px;
  color: black;
}

h4 {
  font-size: 14px;
  color: black;
}

p {
  font-size: 16px;
  color: black;
}
/* navigation */
.nav {
  z-index: 300;
  margin: 0;
  position: fixed;
  justify-self: right;
}
.navbar {
  position: fixed;
  width: 100%;
}

.navbar-toggler {
  border: none;
}
.nav-link{
}
.nav-time {
  display: flex;
  justify-content: flex-end;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* IMPORTANT DO NOT DELETE */
@media (max-width: 767px) {
  .toolbar-nav-items {
    display: none;
  }

}

@media (max-width: 413px) {
  /* to all for sticky */
  #root {
    overflow: hidden;
  }

}
