#project-component {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    height: 100vh;
    text-align: center;
    background-color: #9AFBFF;
}



@media (min-width: 769px) {
 .projects {
     display: grid;
     grid-template-columns: 0.5fr 3fr 0.5fr;
 }
}
@media only screen and (min-width: 1301px){
   .projects {
   }

}